---
import Layout from "../../layouts/Layout.astro";
import Comment from "../../components/Comment";

const { id } = Astro.params;

const item = await fetch(`https://api.hackerwebapp.com/item/${id}`).then(
  (res) => res.json()
);
---

<Layout title={item.title}>
  <main class="w-[90%]">
    <div class="flex flex-col items-center border-b pt-5">
      <div class="flex flex-row items-center w-full pb-5">
        <h1>
          <a class="pr-5" href="/hn">&larr;</a>
          <a href={item.url} target="_blank" class="underline">{item.title}</a>

          <div class="opacity-50 pl-12 text-xs">
            {item.user}
            {item.time_ago}
          </div>
        </h1>
      </div>
      {
        item.text && (
          <div class="py-4 border-t w-full">
            <Fragment
              set:html={item.content.replace(
                /news.ycombinator.com\/item\?id=/g,
                "taybart.com/hn/"
              )}
            />
          </div>
        )
      }
    </div>
    {
      item.comments.map((comment: Comment) => (
        <Comment client:load comment={comment} />
      ))
    }
  </main>
</Layout>

<style>
  h1 {
    @apply text-2xl;
  }
</style>
